Host murphy
	HostName murphy.wot.eecs.northwestern.edu
	User awq325

Host batman
	HostName batman.eecs.northwestern.edu
	User awq325

Host batgirl
	HostName batgirl.eecs.northwestern.edu
	User awq325

Host alfred
	HostName alfred.eecs.northwestern.edu
	User awq325

Host gotham
	HostName gotham.eecs.northwestern.edu
	User awq325

Host watney
	HostName 25.98.84.149
	user sasha
