<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.sashaweiss.alfred.snek</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1D52EBE6-4B6A-44C0-9325-F477AAEF9870</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D92643F-B32A-4E68-AFB7-A5D0422A97A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Sasha Weiss</string>
	<key>description</key>
	<string>Open the `snek` project in VSCode</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open `snek`</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Need to run with zsh interactively to inherit $PATH info that VSCode needs
zsh -i -c 'code "$WORK/snek"'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1D92643F-B32A-4E68-AFB7-A5D0422A97A6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>snek</string>
				<key>subtext</key>
				<string>Open the `snek` project in VSCode</string>
				<key>text</key>
				<string>Open `snek`</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1D52EBE6-4B6A-44C0-9325-F477AAEF9870</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1D52EBE6-4B6A-44C0-9325-F477AAEF9870</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>1D92643F-B32A-4E68-AFB7-A5D0422A97A6</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
